:root{
	--icon-size: 30px !important;
	--svg-color: #fff;
}

body{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-menu{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-container > svg {
	width: var(--icon-size);
	height: var(--icon-size);
	fill: var(--svg-color);
}

.icon-list{
	position: relative;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 50px;
}

.icon-list > li {
	position: relative;
	list-style: none;
	list-style-type: none;
	width: 60px;
	height: 60px;
	transform: rotate(-30deg) skew(25deg);
}

.icon-list > li > a > span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color);
	transition: all 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-list > li:hover > a > span:nth-child(5) {
	translate: 40px -40px;
	opacity: 1;
}
.icon-list > li:hover > a > span:nth-child(4) {
	translate: 30px -30px;
	opacity: .8;
}
.icon-list > li:hover > a > span:nth-child(3) {
	translate: 20px -20px;
	opacity: .6;
}
.icon-list > li:hover > a > span:nth-child(2) {
	translate: 10px -10px;
	opacity: .4;
}
.icon-list > li:hover > a > span:nth-child(1) {
	translate: 0px 0px;
	opacity: .2;
}